/*
Azul: #2479bc 
Verde: #8be820
Amarelo: #f3e000
Vermelho: #f3002d
*/

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/* Alteração no tamanho da navbar 
 *--------------------------------------------------*/

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #fff!important;
        border-color: #e3e3e3!important;
    }
}

/* Navbar
 *--------------------------------------------------*/

.navbar {
  border: 1px solid;
}

.navbar-default {
  background-color: #fff;
  border-color: #e3e3e3;
}

div.navbar-header.page-scroll {
  min-height: 100px;
}

small{
  font-size: 8pt;
  color: #0A2268;
  margin-left: 10px;
}

a.navbar-brand.page-scroll {
  min-height: 77px;
  padding: 0px!important;
}

a > img {
  width: 200px; 
  margin: 12px 0px 0px 10px;
}

button.navbar-toggle {
  margin-top: 27px;
  margin-bottom: 39px;
  background-color: #2479bc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #024981;
}

.navbar-default .navbar-nav > li > a {
      color: #135284;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
      color: #8085FF;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
  color: #8085FF;
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-collapse {
  border-color: #e1e1e1;
}

.container > .navbar-collapse {
  margin-top: 24px;
}

.navbar .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

ul > li {
  font-size: 1.3em;
  font-weight: bolder;
}


/* Seções
 *--------------------------------------------------*/

/* Títulos das seções */
h2 {
  margin-bottom: 50px;
}

/* Traço  */
.bg-lblue {
  background-color: #2479bc;
}


/* Bloco */

.block{
	margin:70px 0px;
}
.block .block-item{
	text-align:center;
	margin:10px auto;
  margin-bottom: 50px;
	max-width:250px;
}

.block .bor{
	height:3px;
	width:50px;
	margin:10px auto;
}


/* Intro
 *--------------------------------------------------*/

.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #e3e3e3;
}


/* Certificação Digital
 *--------------------------------------------------*/

.cert-digit-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: #008cba;
}

.cert-digit-section h2,
.cert-digit-section h4,
.cert-digit-section p {
  color: #fff;
}

.cert-digit-section .bg-lblue {
  background-color: #17609B;
}







.service-block {
  background-color: #fff;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  /*max-width: 315px;
  min-width: 230px;*/
  height:inherit;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.service-block *,
.service-block *:before,
.service-block *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.service-block img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.service-block:before,
.service-block:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #008cba;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.service-block:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.service-block:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.service-block figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 8px 4% 25px 9px;
}

.service-block figcaption:before,
.service-block figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.service-block figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.service-block figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}


.service-block h3 {
  margin: 0;
  letter-spacing: 1px;
}


.service-block p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}


.cert-digit-section h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}


.service-block h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.service-block p {
  font-size: 0.9em;
}


.service-block a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.service-block:hover h3,
.service-block.hover h3,
.service-block:hover p,
.service-block.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.service-block:hover:before,
.service-block.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.service-block:hover:after,
.service-block.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.service-block:hover figcaption:before,
.service-block.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.service-block:hover figcaption:after,
.service-block.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}










/* Credit Service
 *--------------------------------------------------*/

.credit-service-section {
    padding-top: 30px;
    text-align: center;
    background: #fff;
}


/* Mapa
 *--------------------------------------------------*/

.map {
  padding-top:97px;
}

.map iframe {
  pointer-events: none;
}

/* Mapa utilizando a API do Google
--------------------------------------

.map {
  padding-top:60px;
}

.map div {
  pointer-events: none;
}

#gmap_canvas {
  width: 100%; 
  height: 500px; 
  margin-top: 40px; 
  margin-bottom: 40px;
}
*/

/* Outra possível solução para o mapa ser responsivo
 *
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;  Ratio 16:9 ( 100%/16*9 = 56.25% ) 
}
.iframe-container > *{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
*/


/* Contato
 *--------------------------------------------------*/

.contact-section {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: url(../img/bg-body.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}

.contact-section h2,
.contact-section a,
.contact-section i {
  color: #333;
}

.contact-section hr {
	border-bottom: 1px solid #AEAEAE;
}


.contact-section h2 {
  margin-bottom: 20px;
}

.contact-email {
  margin-top: 35px;
}

.contact-section .footer {
  font-size: 0.68em;
  width: 100%;
  position:absolute; 
  bottom: 0px;
}


/* Resposividade
 *--------------------------------------------------*/


/* Small devices (tablets, larguras até 600px) */
@media (max-width: 600px) {

  /* Mapa
   *----------------------------------*/
  .embed-responsive-16by9 {
    padding-bottom: 100%;
  }

}


/* Small devices (tablets, larguras até 980px) */
@media (max-width: 980px) {

  /* Mapa
   *----------------------------------*/
  .embed-responsive-16by9 {
    padding-bottom: 70%;
  }

}


/* Small devices (tablets, larguras a partir de 600px) */
@media (min-width: 600px) {

  /* Intro
   *----------------------------------*/
  .intro-section {
    padding-top: 0px;
  }
 
  .img-background {
      height: 100%;
      padding-top: 250px;
      padding-left: 50px;
      padding-right: 50px;
      background: url(../img/intro.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  /* Contato
   *----------------------------------*/
  .contact-section hr {
    width: 55%;
  }

  .contact-section .footer {
    font-size: 0.73em;
  }

}


/* Small devices (tablets, larguras a partir de 768px) */
@media (min-width: 768px) {

  /* Navbar
   *----------------------------------*/
  div.navbar-header.page-scroll {
    min-height: 100px;
    width: 212px;
  }

  .navbar > .container .navbar-brand {
    margin-left: 0px;
  }

  .navbar .img-responsive {
    max-width: 137%;
  }

  a > img {
    width: 290px; 
    margin: 5px 0px 0px 10px;
  }

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  /* Intro
   *----------------------------------*/
  .img-background {
    padding-top: 380px;
  }


  /* Títulos das seções
   *----------------------------------*/
  h2 {
    margin-top: 46px;
  }


  /* Contato
   *----------------------------------*/
  .contact-section h2 {
    margin-bottom: 50px;
  }

  .contact-section hr {
    width: 50%;
	  margin: 10px auto;
	  padding: 0px;
	  border-top: 0px;
	  border-bottom: 1px solid #AEAEAE;
  }

  .contact-email {
    margin-top: 35px;
  }

}


/* Medium devices (tablets, larguras a partir de 980px) */
@media (min-width: 980px) {

  /* Intro
   *----------------------------------*/
  .img-background {
    padding-top: 420px;
    padding-left: 80px;
    padding-right: 80px;
  }

}

/* Medium devices (desktops, larguras a partir de 1024px) */
@media (min-width: 1024px) {

  /* Intro
   *----------------------------------*/
  .img-background {
    padding-top: 200px;
  }

  /* Contato
   *----------------------------------*/
  .contact-section hr {
    width: 66%;
  }

}

/* Medium devices (desktops, larguras a partir de 1024px e comprimentos até 768px) */
@media (min-width: 1024px) and (min-height: 768px) {

  /* Intro
   *----------------------------------*/
  .img-background {
    padding-top: 250px;
  }

}


/* Large devices (large desktops, larguras a partir de 1200px) */
@media (min-width: 1200px) {

  /* Navbar
   *----------------------------------*/
  .img-responsive {
    max-width: 137%;
  }

  a > img {
    width: 290px; 
    margin: 5px 0px 0px 10px;
  }

  /* Intro
   *----------------------------------*/
  .img-background {
    padding-top: 250px;
  }

  .img-background .container {
    padding-left: 150px;
    padding-right: 150px;
  }

  /* Mapa
   *----------------------------------*/
  .embed-responsive-16by9 {
      padding-bottom: 30%;
  }

  /* Contato
   *----------------------------------*/
  .contact-section hr {
    width: 85%;
  }

}

/* Large devices (large desktops, larguras a partir de 1900px) */
@media (min-width: 1900px) {

  /* Intro
   *----------------------------------*/
  .img-background {
    padding-top: 350px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .img-background .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}


/* Large devices (large desktops, larguras até 1200px) */
@media (max-width: 1200px) {

  .container {
    width:100%;
  }
  
}


/* Small devices (tablets, larguras entre 768px e 1200px) */

@media (min-width: 768px) and (max-width: 1200px) {

  /* Links do navbar
   *----------------------------------*/
  .nav > li > a {
    padding: 10px 10px;
  }

}


/* Small devices (tablets, larguras entre 768px e 900px) */

@media (min-width: 768px) and  (max-width: 900px) {

  /* Links do navbar
   *----------------------------------*/
  ul > li {
    font-size: 1.15em;
  }

}
